<div class="container py-5">
	<h5>マイページ</h5>
	<div class="row">
		<div class="col-7 mx-auto">
			<P class="font-weight-bold">登録情報<%= link_to " 編集する", edit_public_customers_path(current_customer), class: "btn btn-success mx-3" %></p>
			<table class="table table-bordered">
				<tbody>
					<tr>
          	<td>氏名</td>
          	<td><%= @customer.first_name+@customer.secound_name%></td>
          <tr>
          	<td>カナ</td>
          	<td><%= @customer.first_name_alias+@customer.secound_name_alias %></td>
          </tr>
          <tr>
          	<td>郵便番号</td>
          	<td class="text-left"><%= @customer.zip_code %></td>
          </tr>
          <tr>
          	<td>住所</td>
          	<td class="text-left"><%= @customer.address %></td>
          </tr>
          <tr>
          	<td>電話番号</td>
          	<td class="text-left"><%= @customer.tel_number %></td>
          </tr>
          <tr>
          	<td>メールアドレス</td>
          	<td class="text-left"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <div class="col-7">
    		<table class="table table-borderless">
      		<tbody>
      			<tr>
      				<td class="font-weight-bold">配送先</td>
      				<td><%= link_to " 一覧を見る", public_shippings_path, class: "btn btn-info" %></td>
      			</tr>
      			<tr>
      				<td class="font-weight-bold">注文履歴</td>
      				<td><%= link_to " 一覧を見る", public_orders_path, class: "btn btn-info" %></td>
      			</tr>
      		</tbody>
      	</table>
      </div>
    </div>
  </div>
</div>