<div class="container">
  <div class="row">

<h2>配送先登録/一覧</h2>
 <%=form_with model: @shipping,url: public_shippings_path,local:true do |f|%>
<div class="form">
 <%=f.label :zip_code, '郵便番号'%>
 <%=f.text_field :zip_code, autofocus: true,placeholder:"（例）000000"%>
</div>
<div class="form">
 <%=f.label :address, '住所'%>
 <%=f.text_field :address,placeholder:"東京都渋谷区代々木神園町0-0"%>
</div>
<div class="form">
  <%=f.label :name,'宛名'%>
  <%=f.text_field :name,placeholder:"木口裕太"%>
</div>
<div class="form">
<%=f.submit '新規登録'%>
</div>
<%end%>

<table class="table">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shippings.each do |shipping| %>
    <tr>
      <td><%=shipping.zip_code%></td>
      <td><%=shipping.address%></td>
      <td><%=shipping.name%></td>
      <td><%=link_to '編集する',edit_public_shipping_path(shipping.id), class: "mx-3 btn btn-success"%><%=link_to '削除する',public_shipping_path(shipping.id),method: :delete, class: " btn btn-danger"%></td>
    </tr>
  </tbody>
</table>
<%end%>

 </div>
</div>
