<h1>商品編集</h1>
<%= form_with model :item, local :true do |f| %>
  <table class="table">
    <tr>
      <td>商品画像</td>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <th>
      <td>商品名</td>
      <td><%= f.text_field :name %></td>
    </th>
    <th>
      <td>商品説明</td>
      <td><%= f.text_area :introduction %></td>
    </th>
    <th>
      <td>ジャンル</td>
      <td>
        <%= f.select :genre, {'ケーキ':1,'プリン':2,'焼き菓子':3,'キャンディ':4}, {selected: 1}, { class: 'form-control', required: true} %>
      </td>
    </th>
    <th>
      <td>税抜価格</td>
      <td><%= f.text_field :price %></td>
    </th>
    <th>
      <td>販売ステータス</td>
      <td>
        <%= f.radio_button :is_active, :"販売中" %>
        <%= f.radio_button :is_active, :"販売停止中" %>
      </td>
    </th>
  </table>
  <%= f.submit '変更を保存',class :"btn btn-success" %>
<% end %>