
<%=form_with model: @item,url:admin_items_path, local:true do |f|%>
  <div class="form">
  <%=f.label :image, '商品イメージ'%>
  <%=f.attachment_field :image, autofocus: true,placeholder:"商品画像"%>
  </div>
  <div class="form">
    <%=f.label :name, '商品名前'%>
  <%=f.text_field :name,placeholder:"商品名"%>
  </div>
  <div class="form">
    <%=f.label :introduction, '商品説明'%>
    <%=f.text_area :introduction,placeholder:"ここに説明文を記述します"%>
  </div>
  <div class="form">
    <%=f.label :genre, 'ジャンル'%>
    <%=f.collection_select :genre_id, genres, :id, :name, {prompt: "選択してください"}%>
  </div>
  <div class="form">
   <%=f.label :price, '税抜き価格'%>
    <%=f.text_field :price,placeholder:"価格"%>
  </div>
  <div class="form">
    <%=f.radio_button :is_active,true%>
     <%=f.label:is_active, '販売中', value: true%>
     <%=f.radio_button :is_active,false%>
     <%=f.label :is_active, '販売停止中',value: false%>
  </div>
  <% if f.object.new_record?%>
　　<%=f.submit '新規登録'%>
　　<%else%>
　　<%=f.submit '変更を保存'%>
  <%end%>
  <%end%>
<h1>商品編集</h1>
<%= form_with model :item, local :true do |f| %>
  <table class="table">
    <tr>
      <td>商品画像</td>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <th>
      <td>商品名</td>
      <td><%= f.text_field :name %></td>
    </th>
    <th>
      <td>商品説明</td>
      <td><%= f.text_area :introduction %></td>
    </th>
    <th>
      <td>ジャンル</td>
      <td>
        <%= f.select :genre, {'ケーキ':1,'プリン':2,'焼き菓子':3,'キャンディ':4}, {selected: 1}, { class: 'form-control', required: true} %>
      </td>
    </th>
    <th>
      <td>税抜価格</td>
      <td><%= f.text_field :price %></td>
    </th>
    <th>
      <td>販売ステータス</td>
      <td>
        <%= f.radio_button :is_active, :"販売中" %>
        <%= f.radio_button :is_active, :"販売停止中" %>
      </td>
    </th>
  </table>
  <%= f.submit '変更を保存',class :"btn btn-success" %>
<% end %>
