<div class="container py-5">
  <h5><%= @customer.first_name %><%= @customer.secound_name %> さんの会員情報編集</h5>
  <div class="row">
    <div class="col-8 my-2">
      <%= form_with model:@customer,url:admin_customer_path, local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.label :氏名 %></td>
            <td>
              <%= f.text_field :first_name, class: 'form-control customer_first_neme' %>
            </td>
            <td>
              <%= f.text_field :secound_name, class: 'form-control customer_secound_name' %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :フリガナ %></td>
            <td>
              <%= f.text_field :first_name_alias, class: 'form-control customer_first_neme_alias' %>
            </td>
            <td>
              <%= f.text_field :secound_name_alias, class: 'form-control customer_secound_name_alias' %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :郵便番号 %></td>
            <td><%= f.text_field :zip_code, class: 'form-control customer_zip_code' %></td>
          </tr>
          <tr>
            <td><%= f.label :住所 %></td>
            <td><%= f.text_area :address, class: 'form-control customer_address' %></td>
          </tr>
          <tr>
            <td><%= f.label :電話番号 %></td>
            <td><%= f.text_field :tel_number, class: 'form-control customer_tel_number' %></td>
          </tr>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.text_field :email, class: 'form-control customer_email' %></td>
          </tr>
          <tr>
            <td><%= f.label :会員ステータス %></td>
            <td>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, '有効', value: true %>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, '退会', value: false %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
      