<div class= "container">
  <div class= "row">
    <div class= "mx-auto">
      <h2>注文情報入力</h2>
      <%=form_with model: @order,url: public_orders_confilm_path , local:true do |f|%>
        <div class="form">
          <span>支払い方法</span>
          <%=f.radio_button :method_of_payment, :クレジットカード, checked: true %>
          <%=f.label:method_of_payment, 'クレジットカード', {value: :クレジットカード }%>
          <%=f.radio_button :method_of_payment, :銀行振込 %>
          <%=f.label :method_of_payment, '銀行振込', {value: :銀行振込 }%>
        </div>

        <div>
          <div class="field form-group">
            <%= radio_button_tag :address_selection, 0, checked: "checked" %>
            <%= f.label :address_selection, "ご自身の住所" %></br>
            <%= "〒#{current_customer.zip_code} #{current_customer.address}" %></br>
            <%= "#{current_customer.first_name} #{current_customer.secound_name}" %>
          </div>
          <div class="field form-group">
            <%= radio_button_tag :address_selection, 1 %>
            <%= f.label :address_selection, "登録済住所から選択" %><br>
            <%= f.collection_select :shipping_id , current_customer.shippings, :id, :address_info %>
          </div>
          <div class="field form-group">
            <%= radio_button_tag :address_selection, 2 %>
            <%= f.label :address_selection, "新しいお届け先" %>
          </div>
          <div class="form-row mb-2">
            <%= f.label :shipping_zip_code, "郵便番号(ハイフンなし)", class: "col-sm-5" %>
            <%= f.text_field :shipping_zip_code, :placeholder => "5610859", class: "col-sm-5" %>
          </div>
          <div class="form-row mb-2">
            <%= f.label :shipping_address, "住所", class: "col-sm-2" %>
            <%= f.text_field :shipping_address, :placeholder => "大阪府豊中市服部豊町2-4-10", class: "col-sm-8" %>
          </div>
          <div class="form-row mb-2">
            <%= f.label :shipping_name, "宛名", class: "col-sm-2" %>
            <%= f.text_field :shipping_name, :placeholder => "木口裕太" ,class: "col-sm-8" %>
          </div>
          <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>