<div class="container py-5">
  <div class="row mx-auto">
    <div class="col-5">
      <%= attachment_image_tag @item, :image, :fill,300,250 %>
    </div>
    <div class="col-4">
      <%= form_with model:[:public, @cart_item] do |f| %>
      <% if customer_signed_in? %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <% end %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品紹介</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>税込価格</td>
            <td>¥<%= @item.add_tax_price.to_s(:delimited) %>円　(税込)</td>
          </tr>
          <tr>
            <td>個数選択</td>
            <td><%= f.select :count, options_for_select(@numbers, {selected: @cart_item.count.to_i} ) %></td>
          </tr>
          <tr>
            <td><%= f.submit "カートに入れる", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
